//-----------------------------------
//	Hover Mixins: Setup
//-----------------------------------

@mixin hvr-setup {
  transform: perspective(1px) translateZ(0);
  display: inline-block;
	vertical-align: middle;
  position: relative;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@keyframes hvr-bob-float {
  100% {
    transform: translateY(-8px);
  }
}
