.contact {
  @include mediaMax($bp-tablet-m) {
    margin-top: 20px;
  }
}

.contact__flex {
  @include mediaMin($bp-tablet-l) {
    display: flex;
  }
}

.contact__right {
  flex-grow: 0.45;
}

.contact__left {
  flex-grow: 0.55;
}

.contact {
  h3 {
    @include font-size(21, 24, -5);
    font-weight: $bold;
    margin-bottom: 10px;
    font-family: Georgia;
  }
}

.contact--row {
  margin-bottom: 15px;
}

.contact__right {
  ul {
    list-style-type: none;
    > li {
      display: inline-block;
      margin-right: 15px;
    }
  }  
}