/*------------------------------------|
|	Base                                |
|------------------------------------*/

body {
  font-family: $font-alpha;
  @include font-size($base-font-size);
  font-weight: $regular;
  overflow: visible;
  color: $colour-text-body;
  background-color: $colour-body;
  width: 100%;
  padding: 0;
  margin: 0;
}

body.is-menu-expanded {
  overflow: hidden;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
}

* {
  @include box-sizing($box-model);
}

a {
  text-decoration: none;
}

p {
  @include font-size(16, 20, 0);
  margin-bottom: 10px;
}

span {
}

li {
  @include font-size(16, 20, 0);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-beta;
  font-weight: $xlight;
}

h1 {
}

h2 {
  @include font-size(31, 23, -5);
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
  @include font-size(25,23,-5);
}

h4 {
}

h5 {
}

h6 {
}

em {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

u {
  text-decoration: underline;
}

button,
input {
  padding: 5px;
  //@include input-reset;
}

input, select {
  width: 100%;
  border: none;
  padding: 15px 12px;
  border-radius: 5px;
  font-family: $font-beta;
  font-weight: $xlight;
}

select {
  height: 100%;
}

button, a, input, select, textarea {
  &:focus,
  &:active {
    outline: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
