/*------------------------------------|
|	Fonts                               |
|------------------------------------*/

@font-face {
  font-family: 'SD Georgia Light';
  src: url('../fonts/SDGeorgiaLight.ttf')  format('truetype'), url('../fonts/SDGeorgiaLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

