/*------------------------------------|
|	Columns                             |
|------------------------------------*/
.l-column-four,
.l-column-three,
.l-column-two {}

.l-column-two {
  column-count: 2;
}

.l-column-three {
  column-count: 3;
}

.l-column-four {
  column-count: 4;
}
