
.grid-container {
  list-style-type: none;
  text-align: center;
  @include clearfix;
  z-index: 2;
  @include mediaMax($bp-tablet-l) {
    width: 1000px;
  }
}

.grid-full {
  @include column-full;
}

.grid-quarter {
  @include column-quarter;
}

.grid-half {
  @include column-half;
}

.grid-third {
  @include column-third;
}

.grid-two-third {
  @include column-two-third;
}

.grid-third--nopad {
  @include column-third-nopad;
}

.grid-three-quarter {
  @include column-three-quarter;
}

.grid-fifth {
  @include column-fifth;
}

.grid-sixth {
  @include column-sixth;
}

.grid-quarter-responsive {
  @include column-quarter-responsive;
}

.grid-half-init {
  @include column-half-init;
}

.grid-item, .grid-item--nopad {
  display: inline;
  overflow: hidden;
  font-size: 0;
}

.grid-item__inner {
  font-size: initial;
  vertical-align: top;
  position: relative;
  text-align: left;
}

.grid-noheight .grid-item__inner {
  overflow: visible;
}

.grid-title {
  @include mediaMax($bp-tablet-l) {
    display: none;
  }
}


/* Width Overrides */
.grid-third--expand .grid-item__inner {
  @include mediaMax($bp-tablet) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

/* Padding Overrides */
.grid-half .grid-item__inner.no-pad {
  margin: 0;
  width: 50%;
}

.grid-reverse {
  @include mediaMax($break-col-half-2) {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Float Overrides */
.is-floated-right .grid-item__inner {
  @include mediaMin($break-col-half-2) {
    float: right;
  }
}

.is-floated-left .grid-item__inner {
  @include mediaMin($break-col-half-2) {
    float: left;
  }
}

